<div class="footer">
  <div class="footer__main">
    <div class="container">
      <div class="footer__content">
        <div class="footer__box">
          <div class="footer__title">Information</div>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">The brand</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Local stores</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Customer service</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Privacy & cookies</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Site map</a>
            </li>
          </ul>
        </div>

        <div class="footer__box">
          <div class="footer__title">Why buy from us</div>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Shipping & returns</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Secure shopping</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Testimonials</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Award winning</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Ethical trading</a>
            </li>
          </ul>
        </div>

        <div class="footer__box">
          <div class="footer__title">Your Account</div>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Sign include</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Register</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">View cart</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">View your lookbook</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Track an order</a>
            </li>
          </ul>
        </div>

        <div class="footer__box">
          <div class="footer__title">LookBook</div>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Latest posts</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Men’s lookbook</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Women’s lookbook</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Lookbooks RSS feed</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">View your lookbook</a>
            </li>
          </ul>
        </div>

        <div class="footer__box">
          <div class="footer__title">Contact details</div>
          <address class="footer__address address">
            <a class="address__link" href="#">
              Head Office: Avenue Fashion,
              180-182 Regent Street, London.
            </a>
            <a class="address__link" href="tel:0123456789">
              Telephone: 0123-456-789
            </a>
            <a class="address__link" href="mailto:support@yourwebsite.com">
              Email: support@yourwebsite.com
            </a>
          </address>
        </div>
      </div>
      <div class="footer__block">
        <div class="footer__inner footer__inner--grey">
          <span>award winner</span>
          <span>fashion awards 2016</span>
        </div>
        <div class="footer__inner footer__inner--accent">
          <ul class="footer__social social-footer">
            <li class="social-footer__item">
              <a href="" class="social-footer__link">
                <svg>
                  <use xlink:href="img/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>

            <li class="social-footer__item">
              <a href="" class="social-footer__link">
                <svg>
                  <use xlink:href="img/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>

            <li class="social-footer__item">
              <a href="" class="social-footer__link">
                <svg>
                  <use xlink:href="img/icons.svg#instagram"></use>
                </svg>
              </a>
            </li>

            <li class="social-footer__item">
              <a href="" class="social-footer__link">
                <svg>
                  <use xlink:href="img/icons.svg#pinterest"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-body">
        <div class="footer__copy">
          © 2016 Avenue Fashion™
        </div>
        <div class="footer__info">
          <span>Design by RobbyDesigns.com</span>
          <span>Dev by Loremipsum.com</span>
        </div>
      </div>
    </div>
  </div>
</div>