<div class="gallery-filter">
  <form class="gallery-filter__form" action="#">

    <ul class="gallery-filter__list">
      <li class="gallery-filter__item">
        <label class="gallery-filter__label">
          <input class="gallery-filter__input sr-only" type="radio" name="index-gallery">
          <div class="gallery-filter__checkbox">
            <span class="gallery-filter__name">Popular</span>
          </div>
        </label>
      </li>

      <li class="gallery-filter__item">
        <label class="gallery-filter__label">
          <input class="gallery-filter__input sr-only" type="radio" name="index-gallery">
          <div class="gallery-filter__checkbox">
            <span class="gallery-filter__name">NewArrivals</span>
          </div>
        </label>
      </li>

      <li class="gallery-filter__item">
        <label class="gallery-filter__label">
          <input class="gallery-filter__input sr-only" type="radio" name="index-gallery">
          <div class="gallery-filter__checkbox">
            <span class="gallery-filter__name">Best sellers</span>
          </div>
        </label>
      </li>

      <li class="gallery-filter__item">
        <label class="gallery-filter__label">
          <input class="gallery-filter__input sr-only" type="radio" name="index-gallery">
          <div class="gallery-filter__checkbox">
            <span class="gallery-filter__name">Special offers</span>
          </div>
        </label>
      </li>

      <li class="gallery-filter__item">
        <label class="gallery-filter__label">
          <input class="gallery-filter__input sr-only" type="radio" name="index-gallery">
          <div class="gallery-filter__checkbox">
            <span class="gallery-filter__name">coming soon</span>
          </div>
        </label>
      </li>      
    </ul>

  </form>
</div>