<div class="lookbook-block section-padding">
  <ul class="lookbook-block__body">
   <li class="lookbook-block__item">
     <div class="lookbook-block__picture">
       <img class="lookbook-block__img" src="img/replace.png" alt="replace photo">
     </div>
     <div class="lookbook-block__content">
       <div class="lookbook-block__title">
         mens
         <span>lookbook</span>
       </div>
       <div class="lookbook-block__text">
         <p>
          Lorem ipsum dolor sit amet eras facilisis
          consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.
          Elementum metus facilisis ut phasellu.          
         </p>
       </div>

       <a class="lookbook-block__btn btn-main" href="#">
         view now
       </a>
     </div>
   </li>

   <li class="lookbook-block__item">
    <div class="lookbook-block__picture">
      <img class="lookbook-block__img" src="img/replace.png" alt="replace photo">
    </div>
    <div class="lookbook-block__content">
      <div class="lookbook-block__title">
        your
        <span>lookbook</span>
      </div>
      <div class="lookbook-block__text">
        <p>
         Lorem ipsum dolor sit amet eras facilisis
         consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.
         Elementum metus facilisis ut phasellu.          
        </p>
      </div>

      <a class="lookbook-block__btn btn-main" href="#">
        view now
      </a>
    </div>
  </li>

  <li class="lookbook-block__item">
    <div class="lookbook-block__picture">
      <img class="lookbook-block__img" src="img/replace.png" alt="replace photo">
    </div>
    <div class="lookbook-block__content">
      <div class="lookbook-block__title">
        woomens
        <span>lookbook</span>
      </div>
      <div class="lookbook-block__text">
        <p>
         Lorem ipsum dolor sit amet eras facilisis
         consectetur adipiscing elit lor, integer lorem consecteur dignissim laciniqui.
         Elementum metus facilisis ut phasellu.          
        </p>
      </div>

      <a class="lookbook-block__btn btn-main" href="#">
        view now
      </a>
    </div>
  </li>
  </ul>
</div>